= form_for post_form, url: posts_path, method: :post do |f|

  - if post_form.errors.any?
    .errors
      %h3 #{pluralize(post_form.errors.count, 'error')} prevented this post from saving:
      %ul
        - post_form.errors.full_messages.each do |msg|
          %li= msg

  = f.label :title
  %br
  = f.text_field :title
  %br

  = f.label :body
  %br
  = f.text_area :body

  = f.submit "Publish"
