.post_wrapper
  %h1.title
    = post.title
  %p.date.on_show_page
    published: #{time_ago_in_words(post.created_at)} ago
  %p.date
    = link_to 'Back to all posts', posts_path
  - if signed_admins_post?(post)
    %p.date
      = link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }
      = link_to 'Edit',   edit_post_path(post)
  .body
    = post.body.html_safe


  %h3 Commnets
  - if user_signed_in?
    .comment_clearfix
      = form_for [post, CommentForm.new] do |f|
        = f.text_area :body, placeholder: 'Add a comment'
        %br
        = f.submit 'Add Comment'

  %ul
    = render partial: 'comments/comment', collection: post.comments, as: :comment
