.post_wrapper
  %h1.title
    = post.title
  %p.date.on_show_page
    published: #{time_ago_in_words(post.created_at)} ago
  %p.date
    = link_to 'Back to all posts', posts_path
  - if signed_admins_post?(post)
    %p.date
      = link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }
      = link_to 'Edit',   edit_post_path(post)
  .body
    = post.body.html_safe

.comment_wrapper
  %h3 Comments
  - if user_signed_in?
    .post_comment
      = form_for [post, CommentForm.new] do |f|
        = f.text_area :body, placeholder: 'Add a comment'
        %br
        = f.submit 'Add Comment'
  - else
    Please #{link_to 'log in',  new_user_session_path} or #{link_to 'sign up', new_user_registration_path} to comment.



  %ul.comment
    = render partial: 'comments/comment', collection: post.comments, as: :comment
